{% extends "../../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "../../components/cursor-pagination.njk" import cursorPagination %}

{% set pageTitle = "Audit History" %}

{% block content %}
  <div class="audit-history-page">
    <h1 class="govuk-heading-l">NOMIS Sync transaction history</h1>

    <div class="moj-filter-layout">

      <div class="moj-filter-layout__filter moj-filter-layout__filter--small"
           id="audit-filter"
           data-module="list-filter"
           data-filter-start-shown="true">

        <div class="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>
            <div class="moj-filter__header-action">
            </div>
          </div>

          <div class="moj-filter__content">
            <form method="GET" action="/audit">
              <div class="moj-filter__options">

                {{ govukInput({
                  id: "legacyTransactionId",
                  name: "legacyTransactionId",
                  label: { text: "NOMIS Transaction ID", classes: "govuk-label--s" },
                  value: legacyTransactionId
                }) }}

                {{ govukInput({
                  id: "transactionType",
                  name: "transactionType",
                  label: { text: "NOMIS Transaction Type", classes: "govuk-label--s" },
                  value: transactionType
                }) }}

                {{ govukInput({
                  id: "prisonId",
                  name: "prisonId",
                  label: { text: "Prison ID", classes: "govuk-label--s" },
                  value: prisonId
                }) }}

                {{ mojDatePicker({
                  id: 'startDate',
                  name: 'startDate',
                  leadingZeros: 'true',
                  label: { text: "Request date from", classes: "govuk-label--s" },
                  value: startDate or (startDate | isoDateToDatePickerDate)
                }) }}

                {{ mojDatePicker({
                  id: 'endDate',
                  name: 'endDate',
                  leadingZeros: 'true',
                  label: { text: "Request date to", classes: "govuk-label--s" },
                  value: endDate or (endDate | isoDateToDatePickerDate)
                }) }}

                {{ govukButton({
                  text: "Apply filters",
                  classes: "govuk-!-margin-top-4",
                  preventDoubleClick: true
                }) }}

                <p class="govuk-body">
                  <a href="/audit" class="govuk-link govuk-link--no-visited-state">Clear filters</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="moj-filter-layout__content">
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter moj-action-bar__filter--no-actions"></div>
        </div>

        {% if payloadSummaryData | length > 0 %}
          {{ cursorPagination(pagination) }}

          <table class="govuk-table" data-testid="audit-history-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">NOMIS Id</th>
              <th class="govuk-table__header">Transaction Type</th>
              <th class="govuk-table__header">Syncronised Transaction Id</th>
              <th class="govuk-table__header">Prison Id</th>
              <th class="govuk-table__header">Timestamp</th>
              <th class="govuk-table__header">Type</th>
              <th class="govuk-table__header">View</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for row in payloadSummaryData %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ row.legacyTransactionId }}</td>
                <td class="govuk-table__cell">{{ row.transactionType }}</td>
                <td class="govuk-table__cell">{{ row.synchronizedTransactionId }}</td>
                <td class="govuk-table__cell">{{ row.caseloadId }}</td>
                <td class="govuk-table__cell">{{ row.timestamp }}</td>
                <td class="govuk-table__cell">{{ row.requestTypeIdentifier | formatTransactionType }}</td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/audit/{{ row.requestId }}">View</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          {{ cursorPagination(pagination) }}
        {% else %}
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8" name="no-results-message">
            <li>There are no matching NOMIS synced transactions.</li>
            <li>Try a different search, or change the filters.</li>
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
