{% extends "../../partials/layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% block content %}

{% if transactions | length > 0 %}
  {% set rows = [] %}
  {% for row in transactions %}        
    {%- set amountClasses = "amount" -%}    
    {%- set amount = (row.amount | penceToPound) -%}
    {% set rowData = {
       displayDate: row.date,
       description : row.description,
       amount: amount,       
       accountType: row.accountType,       
       location : row.location,
       isStatementBalance: row.isStatementBalance,
       subAccountBalance : row.subAccountBalance | penceToPound
    }
     %}
    {% if showLocation %}{% set rowData = (rowData.push({ text: row.location | convertPrisonIdToName(prisonNames)}), rowData) %}{% endif %}
    {% set rows = (rows.push(rowData), rows) %}
  {% endfor %}
  <h3 class="govuk-heading-l">{{prisonNumber}}</h3>
  <br>

  {{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Cash",
    href: "/" + prisonNumber + "/money/cash",
    active: true if(subAccount == 'cash') else false
  }, {
    text: "Spends",
    href: "/" + prisonNumber + "/money/spends",
    active: true if(subAccount == 'spends') else false
  }, {
    text: "Savings",
    href: "/" + prisonNumber + "/money/savings",
    active: true if(subAccount == 'savings') else false
  }]
  }) 
}}
 
<table class="govuk-table" data-testid="prisoner-transactions-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Date</th>
              <th class="govuk-table__header">Description</th>
              <th class="govuk-table__header">Amount</th>
              <th class="govuk-table__header">Sub Account Balance</th>
              <th class="govuk-table__header">Location</th>
              <th class="govuk-table__header">Account Type</th>              
            </tr>
            </thead>
            <tbody class="govuk-table__body">            
            {% for row in rows %}
      {% if row.isStatementBalance %}
          <tr class="govuk-table__row statement-balance-bold-row" >
              <td class="govuk-table__cell">{{row.displayDate | formatDate}}</td>
              <td class="govuk-table__cell">{{row.description}}</td>
              <td class="govuk-table__cell">{{row.amount}}</td>
              <td class="govuk-table__cell">{{row.subAccountBalance}}</td>
              <td class="govuk-table__cell">{{row.location}}</td>
              <td class="govuk-table__cell">{{row.accountType}}</td>            
          </tr>
        {% else %}
          <tr>
              <td class="govuk-table__cell">{{row.displayDate | formatDate}}</td>
              <td class="govuk-table__cell">{{row.description}}</td>
              <td class="govuk-table__cell">{{row.amount}}</td>
              <td class="govuk-table__cell">{{row.subAccountBalance}}</td>
              <td class="govuk-table__cell">{{row.location}}</td>
              <td class="govuk-table__cell">{{row.accountType}}</td>            
          </tr>
        {% endif %}
    {% endfor %}                       
            </tbody>
          </table>
{% endif %}
{% endblock %}