{% extends "../../partials/layout.njk" %}

{% block content %}

{% if transactions | length > 0 %}
  {% set rows = [] %}
  {% for row in transactions %}        
    {%- set amountClasses = "amount" -%}    
    {%- set amount = (row.amount | penceToPound) -%}
    {% set rowData = {
       displayDate: row.date,
       description : row.description,
       amount: amount,       
       accountType: row.accountType,       
       location : row.location,
       isStatementBalance: row.isStatementBalance
    }
     %}
    {% if showLocation %}{% set rowData = (rowData.push({ text: row.location | convertPrisonIdToName(prisonNames)}), rowData) %}{% endif %}
    {% set rows = (rows.push(rowData), rows) %}
  {% endfor %}
  <table data-testid="prisoner-transactions-table" class="statement-balance-table">
     <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>        
        <th>Location</th>        
        <th>Account Type</th>        
    </tr>
     </thead>
       <tbody>
    {% for row in rows %}
      {% if row.isStatementBalance %}
          <tr class="statement-balance-bold-row" >
              <td>{{row.displayDate}}</td>
              <td>{{row.description}}</td>
              <td>{{row.amount}}</td>
              <td>{{row.location}}</td>
              <td>{{row.accountType}}</td>            
          </tr>
        {% else %}
          <tr>
              <td>{{row.displayDate}}</td>
              <td>{{row.description}}</td>
              <td>{{row.amount}}</td>
              <td>{{row.location}}</td>
              <td>{{row.accountType}}</td>            
          </tr>
        {% endif %}
    {% endfor %}
      </tbody>
  </table>
{% endif %}
{% endblock %}