{% extends "../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "moj/components/search/macro.njk" import mojSearch %}
{% from "moj/components/filter/macro.njk" import mojFilter %}

{% set pageTitle = "Audit History" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="dateFrom" value="{{ dateFrom | isoDateToDatePickerDate }}" />
        <input type="hidden" name="dateTo" value="{{ dateTo | isoDateToDatePickerDate }}" />
        {{ mojSearch({
          action: "#",
          method: "post",
          input: {
            id: "query",
            name: "query",
            value: query
          },
          label: {
            text: "Search",
            classes: "govuk-!-font-weight-bold"
          },
          hint: {
            text: "You can search by NOMIS Transaction Id"
          },
          button: {
            text: "Search"
          }
        }) }}
      </form>
    </div>
    <div class="govuk-grid-column-full">
      {% set filterOptionsHtml %}

        {{ mojDatePicker({
            id: 'dateFrom',
            name: 'dateFrom',
            leadingZeros: 'true',
            label: {
                text: "Request date from",
                classes: "govuk-label--s"
            },
            value: dateFrom or (dateFrom | isoDateToDatePickerDate)
        }) }}

        {{ mojDatePicker({
            id: 'dateTo',
            name: 'dateTo',
            leadingZeros: 'true',
            label: {
                text: "Request date to",
                classes: "govuk-label--s"
            },
            value: dateTo or (dateTo | isoDateToDatePickerDate)
        }) }}

        <button class="govuk-button govuk-!-margin-top-7 govuk-!-margin-bottom-0" data-module="govuk-button">
          Apply filters
        </button>
      {% endset %}

      <div class="moj-filter-layout moj-filter-layout__flex govuk-!-margin-bottom-6">
        <div class="moj-filter-layout__filter moj-filter-layout__flex moj-filter-layout__filter--small govuk-!-display-none-print">
          <form method="POST">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            <input type="hidden" name="query" value="{{ query }}" />
            {{ mojFilter({
                heading: {
                    text: 'Filter'
                },
                attributes: {
                    'data-filter-start-shown': 'true'
                },
                optionsHtml: filterOptionsHtml
            }) }}
          </form>
        </div>

        <div class="moj-filter-layout__content">
          <div class="moj-action-bar govuk-!-display-none-print">
              <div class="moj-action-bar__filter moj-action-bar__filter--no-actions"></div>
          </div>

          {% set rows = [] %}
          {% for row in tableData %}
            {% set rows = (rows.push({
              items: [
                { text: row.legacyTransactionId },
                { text: row.synchronizedTransactionId },
                { text: row.caseloadId },
                { text: row.transactionTimestamp },
                { text: row.requestTypeIdentifier },
                {
                  html: '<a class="govuk-link" href="/audit-history/' 
                        + row.requestId 
                        + '">View</a>'
                }
              ]
            }), rows) %}
          {% endfor %}

          {% if rows | length > 0 %}
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header">NOMIS Id</th>
                  <th class="govuk-table__header">Syncronised Transaction Id</th>
                  <th class="govuk-table__header">Caseload Id</th>
                  <th class="govuk-table__header">Timestamp</th>
                  <th class="govuk-table__header">Type</th>
                  <th class="govuk-table__header">View</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for row in rows %}
                  <tr class="govuk-table__row">
                    {% for cell in row.items %}
                      <td class="govuk-table__cell">
                        {% if cell.html %}
                          {{ cell.html | safe }}
                        {% else %}
                          {{ cell.text }}
                        {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
                <li>There are no matching NOMIS synced transactions.</li>
                <li>Try a different search, or change the filters.</li>
            </ul>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

{% endblock %}
